# Logische Strukturen (if-else, for, while), Lambda-Ausdrücke, Funktionen (in Jupyter Notebook)

Übersicht Python zur Veranschaulichung der Syntax

## helpful shortcuts
cmd + enter         --> insert cell below  
cmd + shift + enter --> insert cell above\
d + d               --> delete cell\
m                   --> sitch to markdown cell\
y                   --> switch to code cell\
\
control + enter     --> execute cell\
shift + enter       --> execute cell and advance

## Datentypen

### Zahlen

In [18]:
1 + 1

2

In [19]:
1 * 3

3

In [20]:
1 / 2

0.5

In [21]:
2 ** 4  # Potenzen

16

In [22]:
4 % 2

0

In [23]:
5 % 2  # Restdivision

1

In [24]:
5 // 2  #Ganzzahldivision

2

In [25]:
(2 + 3) * (5 + 5)

50

### Variablenzuordnung

In [26]:
# Kann nicht mit Zahl oder Sonderzeichen beginnen
# Konvention: verständliche Variablennamen in Kleinbuchstaben mit _ separiert
name_der_var = 2

In [27]:
x = 2
y = 3

In [28]:
z = x + y

In [29]:
z

5

### Strings

In [30]:
'single quotes'

'single quotes'

In [31]:
"double quotes"

'double quotes'

In [32]:
# wenn ' in String vorkommt, dann double quotes verwenden
"I don't know"

"I don't know"

### Printing

In [33]:
x = 'moin'

In [34]:
x

'moin'

In [35]:
print(x)

moin

In [36]:
num = 12
name = 'Sam'

In [37]:
# sehr nützlich und wird sehr oft verwendet
print('Meine Zahl ist: {one}, und mein Name ist: {two}'.format(one=num,two=name))

Meine Zahl ist: 12, und mein Name ist: Sam

In [38]:
print('Meine Zahl ist: {}, und mein Name ist: {}'.format(num,name))

Meine Zahl ist: 12, und mein Name ist: Sam

### Listen

In [39]:
[1,2,3]

[1, 2, 3]

In [40]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [41]:
meine_liste = ['a','b','c']

In [42]:
meine_liste.append('d')

In [43]:
meine_liste

['a', 'b', 'c', 'd']

In [44]:
meine_liste[0]

'a'

In [45]:
meine_liste[1]

'b'

In [46]:
meine_liste[1:]

['b', 'c', 'd']

In [47]:
meine_liste[:1]

['a']

In [48]:
meine_liste[0] = 'NEU'

In [49]:
meine_liste

['NEU', 'b', 'c', 'd']

In [50]:
# geschachtelte Listen bzw. mehrdimensionale Listen
nest = [1,2,3,[4,5,['target']]]

In [51]:
nest[3]

[4, 5, ['target']]

In [52]:
nest[3][2]

['target']

In [53]:
nest[3][2][0]

'target'

### Dictionaries

In [54]:
# sogenannte key-value pairs und haben keine Reihenfolge (Unterschied zu Listen)
d = {'key1':'item1','key2':'item2'}

In [55]:
d

{'key1': 'item1', 'key2': 'item2'}

In [56]:
d['key1']

'item1'

In [57]:
# auch hier mehrdimensional möglich
d_nest = {'k1': {'innerkey':[1,2,3]}}

In [58]:
d_nest['k1']['innerkey'][2]

3

### Booleans

In [59]:
True

True

In [60]:
False

False

### Tuple

In [61]:
# ähnlich zu Listen aber () werden verwendet
t = (1,2,3)

In [62]:
t[0]

1

In [63]:
# führt zu einem Error, da Tuple sich nicht verändern lassen (Unterschied zu Listen)
# nützlich wenn man nicht möchte, das ein Benutzer die Werte ändern kann
t[0] = 'NEU'

TypeError: 'tuple' object does not support item assignment

### Mengen

In [64]:
{1,2,3}

{1, 2, 3}

In [65]:
# jedes Element, kann nur einmal vorkommen (Eigenschaft einer Menge)
# dadurch wwerden hier die Elemente reduziert
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [66]:
c={1,3,1}
type(c)

set

## Vergleichsoperatoren

In [67]:
1 > 2

False

In [68]:
1 < 2

True

In [69]:
1 >= 1

True

In [70]:
1 <= 4

True

In [71]:
1 == 1

True

In [72]:
1!=2

True

In [73]:
'hi' == 'bye'

False

## logische Operatoren

In [74]:
(1 > 2) and (2 < 3)

False

In [75]:
(1 > 2) or (2 < 3)

True

In [76]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Ausdrücke

In [77]:
if 1 < 2:
    print('Yep!') # Abstand wichtig (Python verwendet keine {}); wird von Jupyter und den meisten IDEs automatisch eingefügt

Yep!

In [78]:
if 1 < 2:
    print('yep!')

yep!

In [79]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [80]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [81]:
# man kann soviele elif Anweisungen verwenden wie man möchte, es wird immer der Block der ersten gültigen Anweisung ausgeführt
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Schleifen

In [82]:
seq = [1,2,3,4,5]

In [83]:
# erlaubt einem durch eine Liste/Sequenz zu iterieren 
for item in seq:
    print(item)

1
2
3
4
5

In [84]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [85]:
for num in seq:
    print(num+num)

2
4
6
8
10

## while Schleife

In [86]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1 # diese Zeile ist sehr wichtig, da wir sonst eine Endlosschleife erzeugen

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [87]:
range(5)

range(0, 5)

In [88]:
for i in range(5):
    print(i)

0
1
2
3
4

In [89]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [90]:
x = [1,2,3,4]

In [91]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [92]:
# in Python gibt es die Möglichkeit den Code der vorangegangenen Zelle kürzer zu fassen
# sehr nützliches Konzept
[item**2 for item in x]

[1, 4, 9, 16]

In [93]:
[item**2 for item in x if item%2 == 0]

[4, 16]

In [94]:
[item**2 if item%2==0 else item for item in x]

[1, 4, 3, 16]

### enumerate and zip
enumerate: fügt einem Iterable (z.b. list) einen counter hinzu, output ist eine Sequenz von Index-Wert tupeln\
zip: füge listen zu einem zip Objekt zusammen

In [95]:
kurse = ['Analysis 1','Stochastik1', 'Funktionalanalysis', 'Analysis2']
semester = [1,3,5,2]
ects = [10,9,8,4]


print(list(enumerate(kurse)))

for index1,value1 in enumerate(kurse):
    print(index1, value1)

# for index2,value2 in enumerate(kurse,start=1):  #ändere den start-index
#     print(index2, value2)

[(0, 'Analysis 1'), (1, 'Stochastik1'), (2, 'Funktionalanalysis'), (3, 'Analysis2')]
0 Analysis 1
1 Stochastik1
2 Funktionalanalysis
3 Analysis2

In [96]:
kurs_daten = list(zip(kurse,semester,ects))
print(kurs_daten)

print(zip(kurse,semester,ects))

[('Analysis 1', 1, 10), ('Stochastik1', 3, 9), ('Funktionalanalysis', 5, 8), ('Analysis2', 2, 4)]
<zip object at 0x7ffd3848dbc0>

In [97]:
for value1,value2,value3 in kurs_daten:
    print('Kurs: {}, Semester: {}, ECTS: {}'.format(value1, value2, value3))

Kurs: Analysis 1, Semester: 1, ECTS: 10
Kurs: Stochastik1, Semester: 3, ECTS: 9
Kurs: Funktionalanalysis, Semester: 5, ECTS: 8
Kurs: Analysis2, Semester: 2, ECTS: 4

In [98]:
print(*kurs_daten)  # decomposing eines zip objektes
type(kurs_daten)

('Analysis 1', 1, 10) ('Stochastik1', 3, 9) ('Funktionalanalysis', 5, 8) ('Analysis2', 2, 4)

list

In [99]:
kurs_daten = list(zip(kurse,semester,ects))
out1, out2, out3 = zip(*kurs_daten)
print(out1)

('Analysis 1', 'Stochastik1', 'Funktionalanalysis', 'Analysis2')

## Funktionen

In [100]:
def my_func(param1='default'):  # hier wird durch die Zuweisung ='default' ein default Parameter gesetzt
    """
    Docstring hier
    mehrere Zeilen möglich
    """
    print(param1)

Docstring einer Funktion kann durch Shift+Tab abgefragt werden, wenn der Cursor an das Ende der ausgeschrieben Funktion gesetzt ist!

In [101]:
my_func

In [102]:
?my_func

Signature: my_func(param1='default')
Docstring:
Docstring hier
mehrere Zeilen möglich
File:      ~/pythonkurs_2021/lec02/<ipython-input-100-2121fcebf8a9>
Type:      function

In [103]:
??my_func

Signature: my_func(param1='default')
Source:
def my_func(param1='default'):  # hier wird durch die Zuweisung ='default' ein default Parameter gesetzt
    """
    Docstring hier
    mehrere Zeilen möglich
    """
    print(param1)
File:      ~/pythonkurs_2021/lec02/<ipython-input-100-2121fcebf8a9>
Type:      function

In [104]:
# führt die Funktion mit dem default Parameter aus. Geht nur wenn ein default Parameter gesetzt ist, oder die Funktion
# kein Parameter besitzt
my_func()

default

In [105]:
my_func('new param')

new param

In [106]:
my_func(param1='new param')

new param

In [107]:
def square(x):
    return x**2

In [108]:
out = square(2)

In [109]:
print(out)

4

## lambda Ausdruck

In [110]:
def times2(var):
    return var*2

In [111]:
times2(2)

4

In [112]:
lambda var: var*2

## map und filter

In [113]:
seq = [1,2,3,4,5]

In [114]:
map(times2,seq)

In [115]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [116]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [117]:
filter(lambda item: item%2 == 0,seq)

In [118]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Methoden

In [119]:
st = 'hello my name is Sam'

In [120]:
st.lower()

'hello my name is sam'

In [121]:
st.upper()

'HELLO MY NAME IS SAM'

In [122]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [123]:
tweet = 'Go Sports! #Sports'

In [124]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [125]:
tweet.split('#')[1]

'Sports'

In [126]:
studiengaenge = {
   "Wifo": "Wirtschaftsinformatik", 
   "Wima": "Wirtschaftsmathematik",
   "BWL": "Betriebswirtschaftslehre",
   "MMDS": "Mannheim Master in Data Science"
   }

In [127]:
studiengaenge.keys()

dict_keys(['Wifo', 'Wima', 'BWL', 'MMDS'])

In [128]:
studiengaenge.items()

dict_items([('Wifo', 'Wirtschaftsinformatik'), ('Wima', 'Wirtschaftsmathematik'), ('BWL', 'Betriebswirtschaftslehre'), ('MMDS', 'Mannheim Master in Data Science')])

In [129]:
lst = [1,2,3]

In [130]:
lst.pop()

3

In [131]:
lst

[1, 2]

In [132]:
'x' in [1,2,3]

False

In [133]:
'x' in ['x','y','z']

True

## error-handling

In [134]:
import numpy as np
def wurzel(x):
    '''Berechnet die Quadrat-Wurzel von x'''
    return x ** 0.5

In [135]:
wurzel(4)

2.0

In [136]:
wurzel('Ingwer')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'

In [137]:
def wurzel(x):
    ''''Berechnet die Quadrat-Wurzel von x'''
    try:
        if x<0:
            raise ValueError('x muss größer gleich 0 sein')
        else:
            return x ** 0.5
    except TypeError:
        print('x muss vom Typ int oder float sein')

In [138]:
wurzel('Ingwer')

x muss vom Typ int oder float sein

# Übungsblatt folgt!